@font-face {
    font-family: PirateFont;
    src: url("Fonts/PirateFont.ttf");
  }

body {
    font-family: Arial;
    height: 100%;
}

.title {
    font-family: PirateFont;
    text-align: center;
    font-size: xx-large;
    padding-top: 10%;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: crimson;
}

.bg-green {
    background-color: green;
}


.config-box{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 30%;
    height: 60%;
    vertical-align: middle;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.75)
}


.input-container {
    width: 90%;
    margin: auto;
}


.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #bbbbbb;
    outline: none;
    opacity: 0.7;
}

.slider:hover {
    opacity: 1;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.float-left{
    margin-left: 7%;
}


.text-box {
    background: #d3d3d3;
    width: 100%;
    border: none;
    height: 25px;
    opacity: 0.7;
}

.host-button {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 75%;
    border-radius: 15px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    padding: 5%;
}

.bg-pirate {
    background-image: url("Media/pirateimg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
}

.accountBtns {
    position:fixed;
    top: 3%;
    right: 3%;
}

    .accountBtns button {
        position: sticky;
        width: max-content;
    }

.mainMenu {
    margin: auto;
    margin-top: 5%;
    text-align: center;
    width: 30%;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

    .mainMenu ul {
        list-style: none;
        
    }

        .mainMenu ul li {
                
            margin-top: 5%;
            padding: 5%;
            border-radius: 15px;
        }

        .mainMenu ul li :hover {
            cursor: pointer;
        }

            .mainMenu ul li a {
                text-decoration: none;
                color: white
            }