<!DOCTYPE html>
<html>
<title>The Pirate Game</title>
<link rel="stylesheet" href="/static/style.css">

<body class="bg-pirate">
    <div class="config-box">
        <h2 class="title">Settings</h2>
        <form action="play">
            <h3 class="float-left">Grid Size = {slider value}</h3>
            <div class="input-container">
                <input type="range" min="5" max="15" value="7" class="slider" id="gridSize">
            </div>
            <h3 class="float-left">Custom Game ID</h3>
            <div class="input-container">
                <input type="text" class="text-box" placeholder="ID" id="gameID">
            </div>
            <div style="text-align: center;">
                <input type="submit" value="Start" style="color: white; text-decoration: none;" class="host-button bg-blue">
            </div>
        </form>
    </div>
</body>