<!DOCTYPE html>
<html>
<title>The Pirate Game</title>
<link rel="stylesheet" href="/static/style.css">

<body class="bg-pirate">
    <div class="config-box">
        <h2 class="title">Settings</h2>

        <h3 class="float-left">Grid Size = {slider value}</h3>
        <div class="input-container">
            <input type="range" min="5" max="15" value="7" class="slider" id="gridSize">
        </div>
        <h3 class="float-left">Custom Game ID</h3>
        <div class="input-container"?>
            <input type="text" class="text-box input-container" placeholder="ID">
        </div>
    </div>
</body>